#cadastro{
    display: flex;
    justify-content: left;
    margin-left: 40px;
    margin-top: 40px;
    width: 700px;
    padding: 20px;
    background-color: var(--cor-fundo-card);
    border-radius: 20px;
    box-shadow: 10px 10px 10px 3px rgba(0,0,0,0.2);
}
#tit_cadastro{
    margin-left: 45px;
    margin-top: 30px;
}
input{
    margin-top: 5px;
    margin-bottom: 15px;
}
label {
    font-weight: bold;
}
.form-action {
    text-align: center;
}
.form-input-required label::after{
    content: '*';
    color: red;
}
.form-input-required {
    display: flex;
    flex-direction: column;
}
ul li {
    list-style: square;
}